[submodule "ls/lua"]
	path = ls/lua
	url = https://github.com/sumneko/lua-language-server
[submodule "ls/rust"]
	path = ls/rust
	url = https://github.com/rust-analyzer/rust-analyzer
[submodule "ls/python"]
	path = ls/python
	url = https://github.com/microsoft/pyright
[submodule "ls/c"]
	path = ls/c
	url = https://github.com/clangd/clangd
